body {
  background-image: url(./assets/Background.JPG);
  background-size: 25%;
  position: relative;
  min-height: 100%;
  min-height: 100vh;
}
/* This Styling is for the navbar
.name is for the name in the left of the nav bar. */
.name {
  font-size: 30px;
  margin-left: 15px;
  margin-top: 9px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  background-color: teal;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.name:hover {
  text-decoration: none;
  color: white;
  background-color: rgb(0, 51, 51);
}
/* the container is the white box on each page that contains all of the content for each page. */
#container {
  width: 60%;
  display: inline-block;
  margin-left: 35px;
  background-color: white;
  padding: 25px;
  margin-top: 75px;
  margin-bottom: 75px;
}
/* h1 is the heading at the top of the content on each page. (About Me, Contact, and Portfolio.) */
h1 {
  color: teal;
  font-size: 40px;
  font-weight: bolder;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-bottom: 1px solid rgb(134, 134, 134);
  padding-bottom: 25px;
}
/* form margin and submit are specific to the form section of the contact page.  */
#form {
  padding-top: 0%;
}
/* margin pushes the input boxes further from the side of the box than hi and the submit button.  */
.margin {
  margin-left: 20px;
}
/* submit is specific to the styling of the submit button. */
#submit {
  font-size: 15px;
  margin-top: 15px;
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 30px;
  color: white;
  background-color: teal;
  border: none;
}

#submit:hover {
  text-decoration: none;
  color: white;
  background-color: rgb(0, 51, 51);
}

/* the target img element is specific to the image on the about me page. */
img {
  width: 200px;
  height: 200px;
  margin: 15px;
  float: left;
}
/* p is specific to the paragraphs on the about me page. */
p {
  margin: 15px;
  font-size: 18px;
}
/* ul an a are specific to the links on the about me page. */
ul {
  color: teal;
}

a {
  color: teal;
  font-size: 18px;
}
/* the class img is specific to the images on the portfolio page. */
.img {
  width: 350px;
  height: 350px;
}

/* footer is specific to the footer section of each page. */
#footer {
  background-color: rgb(68, 68, 68);
  border-top: 10px solid teal;
  font-size: 18px;
  text-align: center;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
/* The media query was added so that the container that holds the main content of each page fills the screen when the page is viewed at its smallest size. */
@media screen and (max-width: 768px) {
  #container {
    width: 90%;
    margin-left: 15px;
  }
  .img {
    margin-left: 30px;
  }
}
